body, html {
    height: 100%;
    display: grid;
}

li {
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
   
#googlelogo {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
}

.float-left {
    float: right;
}

.img-search{
    margin: auto;
    justify-self: center;
    }

.search-box {
    width: 450px;
    border-radius: 20px;
    height: 2.6em;
    display: grid;
    justify-content: center;
    border: solid #c6c6c6 1px;
    padding: 0 10px;
    align-self: center;    